<p class="title">
  hello-world works!
</p>

<p>
  {{ name }}
</p>

<p>
  <!--<strong 
    [class.male]="customer.gender === 'm'"
    [class.female]="customer.gender === 'f'">
    {{ customer?.name }} 
  </strong>-->

  <!--<strong [class]="cssClass">
    {{ customer?.name }} 
  </strong> -->

  <!--<strong 
    [style.color]="customer.gender === 'f' ? 'blue': 'pink'">
    {{ customer?.name }} 
  </strong> -->

  <strong 
    [class.male]="isMale"
    [class.female]="!isMale">
    {{ customer?.name }} 
  </strong>

  is {{ customer?.age }}. {{ customer.gender }}
</p>

<!--show customer name inside input box-->
<input type="text" value="{{ customer?.name }}">

<input type="text" [value]="customer?.name">

<input type="text" [(ngModel)]="customer.name">

<button (click)="alert(customer.name)">Alert</button>

<button (click)="changeGender('m')">
  Male
</button>

<button (click)="changeGender('f')">
  Female
</button>
