testing 123

<!-- show a list of to do -->
<ul>
    <li *ngFor="let item of todoList">
        <span [class.strike]="item.isCompleted">{{ item.desc }} </span>
        <button *ngIf="!item.isCompleted">
            complete
        </button>
    </li>
</ul>

<!--<app-menu-list 
    [list]="menuList"
    title="my menu list"
    (loginClicked)="triggerLoginCount($event)"
    ></app-menu-list>
<app-hello-world></app-hello-world>

<p>Login clicked for {{ count }} times.</p>-->
